@font-face {
  font-family: "SourceHanSansCN-Bold";
  src: url("~@/assets/font/SourceHanSansCN-Bold.otf");
}
@font-face {
  font-family: "SourceHanSansCN-Regular";
  src: url("~@/assets/font/SourceHanSansCN-Regular.otf");
}
