@font-face {
  font-family: "NotoSansHans-Regular";
  src: url("~@/assets/font/NotoSansHans-Regular.otf");
}
@font-face {
  font-family: "NotoSansHans-Medium";
  src: url("~@/assets/font/NotoSansHans-Medium.otf");
}
@font-face {
  font-family: "NotoSansHans-Bold";
  src: url("~@/assets/font/NotoSansHans-Bold.otf");
}
@font-face {
  font-family: "SourceHanSerifCN-Regular";
  src: url("~@/assets/font/SourceHanSerifCN-Regular.otf");
}
@font-face {
  font-family: "SourceHanSerifCN-Bold";
  src: url("~@/assets/font/SourceHanSerifCN-Bold.otf");
}
@font-face {
  font-family: "SourceHanSerifCN-Medium";
  src: url("~@/assets/font/SourceHanSerifCN-Medium.otf");
}
