$screenWidth: 1920px;
$screenHeight: 1080px;
$screenWidth2: 960px;
$screenHeight2: 540px;
// width: (XXXpx * 100vw / #{$screenWidth})
// height: (XXXpx * 100vh / #{$screenHeight})
// font-size: (XXXpx * 100vh / #{$screenHeight})
